<head th:fragment="head (title)">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image"
        href="https://images.vexels.com/media/users/3/127405/isolated/preview/9bc90743d68dc422b65217e89a20d6aa-chicken-farm-logo-svg-by-vexels.png"/>
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <title th:text="${title}"></title>
  <link rel="stylesheet" th:href="@{/css/reset.css}">
  <link rel="stylesheet" th:href="@{/css/global.css}">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="stylesheet" th:href="@{/css/index.css}">
</head>