<div th:fragment="navbar" class="nav" xmlns:sec="http://www.w3.org/1999/xhtml">

    <div class="navbar">
        <div class="navbarLinks">

            <div class="row leftLinks">
                <a class="directoryLink" th:href="@{/}">Home</a>
                <a class="directoryLink" th:href="@{/ourStory}">Our Story</a>
                <a class="directoryLink" th:href="@{/animals}">Animals</a>
            </div>
            <div class="logo-wrap">
                <div class="navBarLogo">
                    <img class="logoImage" src="/images/logo.png" alt="icon">
                </div>
            </div>
            <div class="row rightLinks">
                <a class="directoryLink" th:href="@{/shop}">Shop</a>
                <a class="directoryLink" th:href="@{/cryptid}">Camp Cryptid</a>
                <a class="directoryLink" th:href="@{/briarwood}">Briarwood Ranch</a>
            </div>

        </div>
    </div>

</div>