
<div th:fragment="navbar" class="nav" xmlns:sec="http://www.w3.org/1999/xhtml">

    <div class="nav">

        <div class="navbarLinks">
            <a th:href="@{/}">Home</a>
            <a th:href="@{/ourFarm}">Our Farm</a>
            <a th:href="@{/shop}">Shop</a>
            <div class="logo-wrap">
                <div class="navBarLogo">
                    <img src="/images/placeholder.png" alt="icon">
                </div>
<!--                <div class="logo grow">-->
<!--                    <h2 class="nav-logo grow">Farm Logo</h2>-->
<!--                </div>-->
            </div>

            <ul class="navbarListLinks">
                <li><a th:href="@{/shop}">Contact</a></li>
                <li sec:authorize="isAuthenticated()"><a th:href="@{/profile}">Profile</a></li>
                <li sec:authorize="!isAuthenticated()"><a th:href="@{/register}">Register</a></li>
                <li sec:authorize="!isAuthenticated()"><a th:href="@{/login}">Login</a></li>
                <li sec:authorize="isAuthenticated()"><a id="logOutButton">Logout</a></li>
            </ul>
            <form class="logout-form hidden" th:action="@{/logout}" th:method="post" id="logOutForm">
                <button class="logout-btn">#</button>
            </form>
        </div>
<!--        <div id="menuToggle">-->
<!--            <input type="checkbox" />-->
<!--            <div id="menuOverlay"></div>-->
<!--            <span></span>-->
<!--            <span></span>-->
<!--            <span></span>-->
<!--            <ul id="menu">-->
<!--                <li class="nav-welcome-username" sec:authorize="isAuthenticated()">Welcome, @<strong th:text="${#authentication.name}"></strong></li>-->
<!--                <a th:href="@{/}"><li>Home</li></a>-->
<!--                <a th:href="@{/about}"><li>The Devs</li></a>-->
<!--                <a th:href="@{/battleList}"><li>Battlegrounds</li></a>-->
<!--                <a th:href="@{/monsterList}"><li>The Monsters</li></a>-->
<!--                <a th:href="@{/how-to}"><li>Tutorial</li></a>-->
<!--                <a th:href="@{/contact}"><li>Contact Us</li></a>-->
<!--                <a sec:authorize="isAuthenticated()" th:href="@{/profile}"><li>Profile</li></a>-->
<!--                <a sec:authorize="!isAuthenticated()" th:href="@{/register}"><li>Register</li></a>-->
<!--                <a sec:authorize="!isAuthenticated()" th:href="@{/login}"><li class="nav-drodown-li">Login</li></a>-->
<!--                <a sec:authorize="isAuthenticated()" id="logOutButtonDD"><li>Logout</li></a>-->
<!--            </ul>-->
<!--        </div>-->



        <script>
            const logOutForm = document.getElementById('logOutForm')
            const logOutButton = document.getElementById('logOutButton')
            const logOutButtonDD = document.getElementById('logOutButtonDD')
            logOutButton.addEventListener('click', () => {
                logOutForm.submit()
            })
            logOutButtonDD.addEventListener('click', () => {
                logOutForm.submit()
            })

        </script>
    </div>
</div>