.ourStoryPageWrapper {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 19%, rgba(255,252,190,1) 30%, rgba(202,255,189,1) 40%, rgba(194,221,255,1) 59%, rgba(232,205,255,1) 82%, rgba(255,255,255,1) 94%);
}

.storyHeaderContainer {
    position: relative;
    /*width: 100vw;*/
    height: 40vh;
    background-image: url('/images/barn.jpg'),
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    padding: 20px;
}

/*how farm*/
.howFarmContainer {
    padding: 2em;
}


.howFarmRow {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}



.imageHowFarmColumn img {
    width: 30em;
    align-self: center;
}