@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&family=Tilt+Neon&display=swap');


.hidden {
    display: none;
}

.navbar {
    background-image: linear-gradient(rgba(188, 239, 242, 1) 25%, rgba(214,248, 237, 1), rgb(255, 255, 255));
    padding: 10px 0;
}
.navbarLinks {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
    margin: 0 auto;
    padding: 0 20px;
}

.leftLinks, .rightLinks {
    display: flex;
    align-items: center;
}

.leftLinks {
    width: auto;
    flex: 1;
    justify-content: space-evenly;
}

.rightLinks {
    width: auto;
    flex: 1; /* Allow it to take up available space */
    justify-content: space-evenly; /* Evenly space links within the section */
}

.logo-wrap {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.navBarLogo {
    display: flex;
    align-items: center;
}

.logoImage {
    border-radius: 50%;
    width: 7em; /* LOGO SIZE*/
}

.directoryLink {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
    font-weight: 300;
    font-size: larger;
    padding: 0 10px;
    white-space: nowrap;
}

/* Responsive adjustments */
/*@media (max-width: 768px) {*/
/*    .navbarLinks {*/
/*        flex-direction: column;*/
/*        align-items: center;*/
/*    }*/

/*    .leftLinks, .rightLinks {*/
/*        width: 100%;*/
/*        justify-content: center; */
/*        margin-bottom: 10px; */
/*    }*/

/*    .logo-wrap {*/
/*        margin: 10px 0;*/
/*    }*/

/*    .directoryLink {*/
/*        padding: 5px 10px;*/
/*    }*/
/*}*/
