<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="~{partials/head :: head ('Pastel Farms')}"></head>
<body>
<nav th:insert="~{partials/navbar :: navbar}"></nav>
<div class="page-wrapper">
<!-- image for title and motto-->
    <div class="container headerContainer">
        <div class="row headerRow">
        </div>
        <div class="homeContent">
            <h1>Pastel Farms</h1>
            <p>Bring Color To Your Table</p>
        </div>
    </div>
<!--    end for image and beginning of info blurb with slideshow-->
    <div class="container infoBlurb">
        <div class="row infoAndPic">
<!--            slideshow half-->
            <div class="column slideshowColumn">
                <div id="image-head-1" class="image-head"></div>
                <div id="image-head-2" class="image-head"></div>
            </div>
<!--            blurb side-->
            <div class="infoBlurbColumn column">
                <div class="infoBlurbTitle">
                    Title
                </div>
                <div class="infoBlurbParagraph">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A architecto commodi consectetur cumque, ducimus expedita fuga harum in inventore iure, neque nobis quae quam quia repudiandae sint sit, tempore voluptas. Lorem ipsum dolor sit amet, consectetur adipisicing elit. A architecto commodi consectetur cumque, ducimus expedita fuga harum in inventore iure, neque nobis quae quam quia repudiandae sint sit, tempore voluptas. Lorem ipsum dolor sit amet, consectetur adipisicing elit. A architecto commodi consectetur cumque, ducimus expedita fuga harum in inventore iure, neque nobis quae quam quia repudiandae sint sit, tempore voluptas. Lorem ipsum dolor sit amet, consectetur adipisicing elit. A architecto commodi consectetur cumque, ducimus expedita fuga harum in inventore iure, neque nobis quae quam quia repudiandae sint sit, tempore voluptas.

                </div>
            </div>
        </div>
    </div>
<!--    starting 3 columns-->
    <div class="container threeColumnContainer">
        <div class="row threeColumnRow">
            <div class="column threeColumns ThreeColumnOne">
                <div class="threeColumnOneImage threeColumnImageManipulation">
                <img class="threeColumnImage"  src="/images/chickencoop.png" alt="placeholder">
                </div>
                <div class="threeColumnTitle">column one</div>
                <div class="threeColumnParagraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias asperiores, debitis enim explicabo fugit illo incidunt minus officiis perspiciatis quam quod repellendus similique totam voluptates? Molestias sed tempora vitae!</div>
            </div>
<!--2nd of 3 columns-->
            <div class="column threeColumns ThreeColumnTwo">
                <div class="threeColumnTwoImage threeColumnImageManipulation">
                    <img class="threeColumnImage"  src="/images/farmersmarket.png" alt="placeholder">
                </div>
                <div class="threeColumnTitle">column two</div>
                <div class="threeColumnParagraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias asperiores, debitis enim explicabo fugit illo incidunt minus officiis perspiciatis quam quod repellendus similique totam voluptates? Molestias sed tempora vitae!</div>
            </div>
<!--3rd of 3 columns-->
            <div class="column threeColumns ThreeColumnThree">
                <div class="threeColumnThreeImage threeColumnImageManipulation">
                    <img class="threeColumnImage" src="/images/watering.jpeg" alt="placeholder">
                </div>
                <div class="threeColumnTitle">column three</div>
                <div class="threeColumnParagraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias asperiores, debitis enim explicabo fugit illo incidunt minus officiis perspiciatis quam quod repellendus similique totam voluptates? Molestias sed tempora vitae!</div>
            </div>
        </div>
    </div>


</div>
</body>
<script src="/js/slideshow.js"></script>
</html>