<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="~{partials/head :: head ('Pastel Farms')}"></head>
<body>
<nav th:insert="~{partials/navbar :: navbar}"></nav>
<div class="page-wrapper">
    <!-- image for title-->
    <div class="container storyHeaderContainer">
        <div class="row headerRow">
        </div>
        <div class="homeContent">
            <h1>Our Story</h1>
        </div>
    </div>

    <div class="container howFarmContainer">
        <div class="row howFarmRow">
            <div class="column blurbHowFarmColumn">
                <h2>How Farm</h2>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam commodi delectus dolore doloremque ipsa itaque officia quaerat, quas quis, sapiente tempore voluptates voluptatibus. Error facilis magnam magni repellat voluptatibus.</p>
            </div>
            <div class="column imageHowFarmColumn">
                <img src="/images/placeholder.png">
            </div>
        </div>
    </div>

    <div class="container howFarmContainer">
        <div class="row howFarmRow">
            <div class="column blurbHowFarmColumn">
                <h2>How Farm</h2>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam commodi delectus dolore doloremque ipsa itaque officia quaerat, quas quis, sapiente tempore voluptates voluptatibus. Error facilis magnam magni repellat voluptatibus.</p>
            </div>
            <div class="column imageHowFarmColumn">
                <img src="/images/placeholder.png">
            </div>
        </div>
    </div>


</div>
</body>
</html>